<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>12th Mark Details</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='hsc.css') }}">

</head>

<body>

<div class="container">

    <h2>12th Mark Details</h2>

    <form action="/hsc" method="POST">

     


        <label>12th Group</label>

        <select id="group" name="group_name" required>

            <option value="">Select Group</option>

            <option value="Computer Science" {% if form.get('group_name') == 'Computer Science' %}selected{% endif %}> Computer Science</option>

            <option value="Biology" {% if form.get('group_name') == 'Biology Science' %}selected{% endif %}> Biology </option>

            <option value="Commerce" {% if form.get('group_name') == 'Commerce Science' %}selected{% endif %}>Commerce </option>

            <option value="Arts" {% if form.get('group_name') == 'Arts Science' %}selected{% endif %}> Arts</option>

        </select>
         {% if errors.get('group_name') %} <span class="error">{{ errors['group_name'] }}</span> {% endif %}
        
        <label>Subject Written (Out of)</label>
          <select name="subject_written">
            <option value="">-- Select --</option>
            <option value="100" {% if form.get('subject_written')|string == '100' %}selected{% endif %}>100</option>
             <option value="200" {% if form.get('subject_written')|string == '200' %}selected{% endif %}>200</option>
             <option value="300" {% if form.get('subject_written')|string == '300' %}selected{% endif %}>300</option>
             <option value="400" {% if form.get('subject_written')|string == '400' %}selected{% endif %}>400</option>
        </select>
        {% if errors.get('subject_written') %} <span class="error">{{ errors['subject_written'] }}</span> {% endif %}

        <label>Exam Written (Out of)</label>
          <select name="exam_written">
            <option value="">-- Select --</option>
           <option value="500" {% if form.get('exam_written')|string == '500' %}selected{% endif %}>500</option>
           <option value="600" {% if form.get('exam_written')|string == '600' %}selected{% endif %}>600</option>
            <option value="700" {% if form.get('exam_written')|string == '700' %}selected{% endif %}>700</option>
            <option value="800" {% if form.get('exam_written')|string == '800' %}selected{% endif %}>800</option>
        </select>
        {% if errors.get('exam_written') %} <span class="error">{{ errors['exam_written'] }}</span> {% endif %}

    

        <div id="subjects">          
          <h3>Subjects & Marks</h3>

        </div>


        <label>Total Mark</label>

        <input type="number" id="total" name="total" value="{{ form.get('total', '') }}" readonly>
        {% if errors.get('total') %} <span class="error">{{ errors['total'] }}</span> {% endif %}


        <label>Percentage</label>

        <input type="text" id="percentage" name="percentage" value="{{ form.get('percentage', '') }}" readonly>
        

           <label>12th Board</label>

        <select name="board" required>

            <option value="">Select Board</option>

            <option value="Tamil Nadu State Board"{% if form.get('board') == 'Tamil Nadu State Board' %}selected{% endif %}>Tamil Nadu State Board</option>
            <option value="CBSE"{% if form.get('board') == 'CBSE' %}selected{% endif %}>CBSE</option>
            <option value="ICSE"{% if form.get('board') == 'ICSE' %}selected{% endif %}>ICSE</option>
           <option value="Other"{% if form.get('board') == 'Other' %}selected{% endif %}>Other Board</option>

        </select>
        {% if errors.get('board') %} <span class="error">{{ errors['board'] }}</span> {% endif %}

        <label>Medium of Instruction</label>
        <select name="medium_of_instruction" required>
        <option value="Tamil"{% if form.get('medium_of_instruction') == 'Tamil' %}selected{% endif %}>Tamil</option>

        <option value="English"{% if form.get('medium_of_instruction') == 'English' %}selected{% endif %}>English</option>
        </select>
        {% if errors.get('medium_of_instruction') %} <span class="error">{{ errors['medium_of_instruction'] }}</span> {% endif %}


         <label>School Name</label>
        <input type="text" name="school_name" value="{{ form.get('school_name', '') }}" placeholder="Enter School Name" required>
        {% if errors.get('school_name') %} <span class="error">{{ errors['school_name'] }}</span> {% endif %}

        <label>Passing Year</label>
         <input type="number" name="passing_year" value="{{ form.get('passing_year', '') }}" placeholder="Enter passing year" required>
        
        {% if errors.get('passing_year') %} <span class="error">{{ errors['passing_year'] }}</span> {% endif %}

        <label>Certificate Serial Number</label>
        <input type="text" name="certificate_sl_no" value="{{ form.get('certificate_sl_no', '') }}" placeholder="Enter Certificate Serial Number" required>
        {% if errors.get('certificate_sl_no') %} <span class="error">{{ errors['certificate_sl_no'] }}</span> {% endif %}


        <button type="submit">Next</button>
         <button type="button" class="btn"onclick="window.location.href='{{ url_for('sslc.home') }}'">Previous</button>

    </form>

</div>


<script src="{{ url_for('static', filename='hsc.js') }}"></script>

</body>

</html>