<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>12th Mark Details</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='hsc.css') }}">

</head>

<body>

<div class="container">

    <h2>12th Mark Details</h2>

    <form action="/hsc" method="POST">

     


        <label>12th Group</label>

        <select id="group" name="group" required>

            <option value="">Select Group</option>

            <option value="Computer Science"> Computer Science</option>

            <option value="Biology"> Biology </option>

            <option value="Commerce">Commerce </option>

            <option value="Arts"> Arts</option>

        </select>
        
        <label>Subject Written (Out of)</label>
          <select name="subject_written">
            <option value="">-- Select --</option>
            <option value="100">100</option>
             <option value="200">200</option>
             <option value="300">300</option>
             <option value="400">400</option>
        </select>

        <label>Exam Written (Out of)</label>
          <select name="exam_written">
            <option value="">-- Select --</option>
            <option value="500">500</option>
             <option value="600">600</option>
             <option value="700">700</option>
             <option value="800">800</option>
        </select>

    

        <div id="subjects">          
          <h3>Subjects & Marks</h3>

        </div>


        <label>Total Mark</label>

        <input type="number" id="total" name="total" readonly>


        <label>Percentage</label>

        <input type="text" id="percentage" name="percentage" readonly>

           <label>12th Board</label>

        <select name="board" required>

            <option value="">Select Board</option>

            <option value="Tamil Nadu State Board">Tamil Nadu State Board</option>

            <option value="CBSE">CBSE</option>

            <option value="ICSE">ICSE</option>

            <option value="Other">Other Board</option>

        </select>

        <label>Medium of Instruction</label>
        <select name="medium_of_instruction" required>
            <option value="">Select Medium</option>
            <option value="Tamil">Tamil</option>
            <option value="English">English</option>
        </select>


         <label>School Name</label>
        <input type="text" name="school_name" placeholder="Enter School Name" required>

        <label>Passing Year</label>
        <select name="passing_year" required>
            <option value="">Select Year</option>
            <option>2026</option>
            <option>2025</option>
            <option>2024</option>
            <option>2023</option>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
        </select>

        <label>Certificate Serial Number</label>
        <input type="text" name="certificate_sl_no" placeholder="Enter Certificate Serial Number" required>


        <button type="submit">Next</button>
         <button type="button" class="btn"onclick="window.location.href='{{ url_for('sslc.home') }}'">Previous</button>

    </form>

</div>


<script src="{{ url_for('static', filename='hsc.js') }}"></script>

</body>

</html>