<!DOCTYPE html>
<html>
<head>
    <title>SSLC Details</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='sslc.css') }}">
</head>
<body>

<div class="container">

    <h2>SSLC Details</h2>

    <form action="/sslc" method="POST">

        <label>Language I Mark</label>
        <input type="number" name="language1_mark" placeholder="Enter Language I Mark" required>

        <label>Language II Mark</label>
        <input type="number" name="language2_mark" placeholder="Enter Language II Mark" required>

        <label>Mathematics Mark</label>
        <input type="number" name="mathematics_mark" placeholder="Enter Mathematics Mark" required>

        <label>Science Mark</label>
        <input type="number" name="science_mark" placeholder="Enter Science Mark" required>

        <label>Social Science Mark</label>
        <input type="number" name="social_science_mark" placeholder="Enter Social Science Mark" required>

        <label>Subject Written (Out of)</label>
          <select name="subject_written">
            <option value="">-- Select --</option>
            <option value="500">100</option>
             <option value="600">200</option>
             <option value="700">300</option>
             <option value="800">400</option>
        </select>

        <label>Exam Written (Out of)</label>
          <select name="exam_written">
            <option value="">-- Select --</option>
            <option value="500">500</option>
             <option value="600">600</option>
             <option value="700">700</option>
             <option value="800">800</option>
        </select>

        <label>Total Mark</label>
        <input type="number" name="total_mark" placeholder="Enter Total Mark" required>

        <label>Medium of Instruction</label>
        <select name="medium_of_instruction" required>
            <option value="">Select Medium</option>
            <option value="Tamil">Tamil</option>
            <option value="English">English</option>
        </select>


         <label>School Name</label>
        <input type="text" name="school_name" placeholder="Enter School Name" required>

        <label>Passing Year</label>
        <select name="passing_year" required>
            <option value="">Select Year</option>
            <option>2026</option>
            <option>2025</option>
            <option>2024</option>
            <option>2023</option>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
        </select>

        <label>Certificate Serial Number</label>
        <input type="text" name="certificate_sl_no" placeholder="Enter Certificate Serial Number" required>

        <button type="submit" class="btn">Next</button>

    </form>

</div>

</body>
</html>